/* Style elements for PD Planner App */

body {
	font-family:Helvetica;
	padding-top:70px;
}

/* Basic Style classes */

#user-button {
	margin-top:-6px;
	margin-bottom:-6px;
}

.cursor-pointer {
	cursor: pointer;
}

.planner-navbar {
	border-radius: 5px;
	background-color:#000066;
	width:80%;
	margin:auto;
}

.pad-bottom {
	padding-bottom:12px;
}

.pad-top {
	padding-top:12px;
}

.margin-left {
	margin-left:10px;
}

.margin-right {
	margin-right:10px;
}

.margin-bottom {
	margin-bottom:10px;
}

.large-margin-top {
	margin-top:30px;
}

.no-new-line {
	white-space:nowrap;
}

/* End Basic */

.active {
	
}

.completed {
	text-decoration:line-through;
	color:grey;
}

.page-width {
	margin:auto;
	width:80%;
}

.priority-high {
	color:red;
}

.priority-medium {
	color:green;
}

.priority-low {
	color:purple;
}

.good {
	background-color: #04BDB7;
	border:1px solid #ccc;
}

.bad {
	background-color: #F7637B;
	border:1px solid #ccc;
}
