/* Style elements for PD Planner App */

body {
	font-family:Helvetica;
	padding-top:70px;
}

/* Basic Style classes */

#user-button {
	margin-top:-6px;
	margin-bottom:-6px;
}

.cursor-pointer {
	cursor: pointer;
}

.planner-navbar {
	background-color:#510476;
	width:100%;
	margin:auto;
	border:none;
}

.pad-bottom {
	padding-bottom:12px;
}

.pad-top {
	padding-top:12px;
}

.margin-left {
	margin-left:10px;
}

.margin-right {
	margin-right:10px;
}

.margin-bottom {
	margin-bottom:10px;
}

.margin-top-20 {
	margin-top:20px;
}

.margin-bottom-20 {
	margin-bottom:20px;
}

.large-margin-top {
	margin-top:30px;
}

.no-new-line {
	white-space:nowrap;
}

/* End Basic */

.active {
	
}

.planner-header {
	margin-bottom:10px;
	padding-bottom:5px;
	border-bottom:1px solid #000066;
}

.item-title {
	font-size:20px;
	border-bottom:1px solid #000066;
	font-style:oblique;
}

.logo-size {
	width:35px;
	height:35px;
	margin-right:10px;
	margin-top:8px;
}

.completed {
	text-decoration:line-through;
	color:grey;
}

.page-width {
	margin:auto;
	width:90%;
}

.priority-high {
	color:red;
}

.priority-medium {
	color:green;
}

.priority-low {
	color:purple;
}

.good {
	background-color: #04BDB7;
	border:1px solid #ccc;
}

.bad {
	background-color: #F7637B;
	border:1px solid #ccc;
}
