<div>
	<div class="modal-header">
		<div ng-if="updating">Update This Category: {{category.name}}</div> 
		<div ng-if="!updating">Add A Category: </div> 
	</div>
	<div class="modal-body">
		<input id="categoryInput" value="category.name" class="form-control" type="text" ng-model="category.name" placeholder="Enter Category Name" />
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="packageCategory()"><i class="glyphicon-plus"></i>
			<span ng-if="updating"> Update Category</span>
			<span ng-if="!updating"> Add Category</span>
		</button>
		<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
	</div>
</div>
