<div>
	<div class="modal-header">
		Login
	</div>
	<div class="modal-body">
		<div ng-model="alerts" class="margin-bottom">
			<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert()">{{alert.message}}</alert>
		</div>
		<div class="input-group margin-bottom">
			<input type="text" class="form-control" id="username" ng-model="credentials.username" placeholder="Username">
			<span class="input-group-addon" ng-class="{'good': credentials.username, 'bad': !credentials.username}">
				<i class="pull-right glyphicon" ng-class="{'glyphicon-ok': credentials.username, 'glyphicon-remove': !credentials.username}"></i>
			</span>
		</div>
		<div class="input-group margin-bottom">
			<input type="password" class="form-control" id="password" ng-model="credentials.password" placeholder="Password">
			<span class="input-group-addon" ng-class="{'good': credentials.password, 'bad': !credentials.password}">
				<i class="pull-right glyphicon" ng-class="{'glyphicon-ok': credentials.password, 'glyphicon-remove': !credentials.password}"></i>
			</span>
		</div>
	</div>
	<div class="modal-footer">
		<div class="pull-left">
			<button type="submit" class="btn btn-primary" ng-click="createNewUser()">New Account</button>
		</div>
		<button 
			type="submit" 
			class="btn btn-default" 
			ng-disabled="!credentials.username || !credentials.password" 
			ng-click="login()">Login
		</button>
	</div>
</div>