<div>
	<div class="modal-header">
		<div ng-if="updating">Update This Item: {{item.name}}</div> 
		<div ng-if="!updating">Add An Item: </div> 
	</div>
	<div class="modal-body">
		<div class="form-group margin-bottom">
			<input value="item.name" class="form-control" type="text" ng-model="item.name" placeholder="Enter Item Name"/>
		</div>
		<div class="form-group margin-bottom">
			<input value="item.description" class="form-control" type="text" ng-model="item.description" placeholder="Enter Description"/>
		</div>
		<h5>Priority:</h5>
		<div class="btn-group">
			<label class="btn btn-default" ng-model="item.priority" btn-radio="1">High</label>
			<label class="btn btn-default" ng-model="item.priority" btn-radio="2">Medium</label>
			<label class="btn btn-default" ng-model="item.priority" btn-radio="3">Low</label>
		</div>
	</div>
	<div class="modal-footer">
		<div class="pad-top">
			<button class="btn btn-primary" ng-disabled="!item.name" ng-click="packageItem()"><i class="glyphicon-plus"></i>
				<span ng-if="updating"> Update Item</span>
				<span ng-if="!updating"> Add Item</span>
			</button>
			<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
		</div>
	</div>
</div>