<div>
	<form class="form-inline">
		<div ng-transclude></div>
		<div class="form-group margin-bottom">
			<label>To-Do: </label>
			<input type="text" ng-model="addItem" />
		</div>
		<div class="form-group margin-bottom">
			<label>Description: </label>
			<input type="text" ng-model="addDesc" />
		</div>
		<h5>Priority:</h5>
		<div class="btn-group">
			<label class="btn btn-default" ng-model="addPrior" btn-radio="1">High</label>
			<label class="btn btn-default" ng-model="addPrior" btn-radio="2">Medium</label>
			<label class="btn btn-default" ng-model="addPrior" btn-radio="3">Low</label>
		</div>
		<button class="btn btn-default" ng-click="addToDoItem()"><i class="glyphicon-plus"></i> Add Item</button>
	</form>
</div>