<!DOCTYPE html>
<html ng-app="pdPlannerApp">
	<head>
		<meta charset="utf-8">
		<title>Planner!</title>
		<meta name="description" content="">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- styles -->
		<link rel="stylesheet" href="styles/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="styles/bootstrap/js/bootstrap.min.js">
		<link rel="stylesheet" href="styles/main.css">
		<link rel="stylesheet" href="styles/bootstrap-ext.css">
		
		<!-- bower scripts -->
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/json3/lib/json3.js"></script>
		<script src="bower_components/angular-resource/angular-resource.js"></script>
		<script src="bower_components/angular-cookies/angular-cookies.js"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-touch/angular-touch.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
		<script src="bower_components/angular-bootstrap-slider/slider.js"></script>
		
		<!-- dabl -->
		<script src="vendor/dabl/dist/scripts/dabl.min.js"></script>
		<script src="vendor/dabl/dist/scripts/dabl.adapter.rest.min.js"></script>
		<script src="vendor/dabl/dist/scripts/dabl.adapter.rest.angular.min.js"></script>

		<!-- scripts -->
		<script src="scripts/app.js"></script>
		<script src="scripts/db.js"></script>
		<script src="scripts/routes.js"></script>
		
		<script src="scripts/modals/controllers/todo.js"></script>
		<script src="scripts/modals/controllers/category.js"></script>
		<script src="scripts/modals/controllers/login.js"></script>
		
		<script src="scripts/controllers/application.js"></script>
		<script src="scripts/controllers/main.js"></script>
		<script src="scripts/controllers/about.js"></script>
		<script src="scripts/controllers/planner.js"></script>
		<script src="scripts/controllers/user.js"></script>
		<script src="scripts/controllers/login.js"></script>
		
		<script src="scripts/services/authorize.js"></script>
		<script src="scripts/services/session.js"></script>
		
		<script src="scripts/values/auth_events.js"></script>
		<script src="scripts/values/user_roles.js"></script>
		
		<!-- Additional -->
		<script src="vendor/bootstrap-gh-pages/ui-bootstrap-0.9.0.min.js"></script>
		<script src="vendor/bootstrap-gh-pages/ui-bootstrap-tpls-0.9.0.min.js"></script>
		<link rel="stylesheet" href="bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css">

	</head>
	<body ng-controller="ApplicationCtrl">
		<script type="text/javascript"> 
			var $buoop = {}; 
			$buoop.ol = window.onload; 
			window.onload=function(){ 
				try {if ($buoop.ol) $buoop.ol();}catch (e) {} 
				var e = document.createElement("script"); 
				e.setAttribute("type", "text/javascript"); 
				e.setAttribute("src", "//browser-update.org/update.js"); 
				document.body.appendChild(e);
			} 
		</script>

		<!-- Application Content -->
		<div class="page-width">
			<nav class="navbar planner-navbar navbar-inverse navbar-fixed-top">
				<div class="container-fluid">
					<img src="images/pd_planner_logo.png" alt="PLANNER" class="logo-size pull-left"/>
					<ul class="nav navbar-nav navbar-left" ng-if="currentUser">
						<li ng-repeat="view in leftViews">
							<a href="#/{{ view.link }}" ng-class="{'nav-selected' : selectedNav == view.name}">
								{{ view.name }}
							</a>
						</li>
					</ul>
					<div class="navbar-text navbar-right">
						<button id="user-button" class="btn btn-primary" ng-click="viewUser()">
							<i class="glyphicon glyphicon-user"></i> {{currentUser.username}}
						</button>
					</div>
					<ul ng-if="currentUser" class="nav navbar-nav navbar-right">
						<li>
							<a href="#/{{ logoutView.link }}" ng-class="{'nav-selected' : selectedNav == logoutView.name}">
								{{ logoutView.name }}
							</a>
						</li>
					</ul>
				</div>
			</nav>
			
			<div class="pad-bottom" ui-view=""></div>

			<div>
				<h5><span class="glyphicon glyphicon-copyright-mark"></span> Patrick Douglas</h5>
			</div>
		</div>


		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-XXXXX-X');
			ga('send', 'pageview');
		</script>

		<!--[if lt IE 9]>
		<script src="bower_components/es5-shim/es5-shim.js"></script>
		<script src="bower_components/json3/lib/json3.min.js"></script>
		<![endif]-->

	</body>
</html>
