<div class="row-fluid">
	<!-- notes:
		-Add subitem add inputs
	-->
	<div class="col-xs-3">
		<button ui-sref="planner.overview" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> Back to Planner</button>
		<div ng-class="{completed: item.complete === 1}">
			<div class="margin-top-20 margin-bottom clearfix" style="font-size:20px;">
				<div class="pull-left item-title">{{item.name}}</div>
				<div ng-class="{'priority-high': (item.priority === 1), 'priority-medium': (item.priority === 2), 'priority-low': (item.priority === 3)}">
					Priority: {{priorities[item.priority]}}
				</div>
			</div>
			<div class="form-group clearfix margin-top margin-bottom">
				<button type="button" class="btn btn-sm btn-default pull-left" ng-model="item.complete" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
					<div ng-if="item.complete === 0">
						<i class="glyphicon glyphicon-unchecked"></i>
						Mark as Complete
					</div>
					<div ng-if="item.complete === 1">
						<i class="glyphicon glyphicon-check"></i>
						Mark as Incomplete
					</div>
				</button>
				<button ng-click="removeToDoItem()" class="btn btn-sm btn-danger pull-left">
					<i class="glyphicon glyphicon-remove-sign"></i> Remove
				</button>
				<button ng-click="openToDoModal()" class="btn btn-sm btn-default pull-left">
					<i class="glyphicon glyphicon-pencil"></i>
				</button>
			</div>
			<div class="margin-top margin-bottom">
				<div>{{item.description}}</div>
			</div>
			<div>
				Progress:
				<slider ng-model="item.progress" min="0" step="1" max="100" value="{{item.progress}}"></slider>
			</div>
		</div>
	</div>
	<div class="col-xs-9">
		<div class="pad-bottom">
			<button ng-click="openSubitemModal(null)" class="btn btn-primary"><i class="glyphicon glyphicon-plus-sign"></i> Add Subtask</button>
		</div>
		<table class="table">
			<tr ng-repeat="subitem in subitems">
				<td>{{subitem.name}}</td>
				<td>{{subitem.description}}</td>
			</tr>
		</table>
	</div>
</div>