<div id="planner-container">
	<div class="pad-bottom">
		<div ng-repeat="item in items">
			{{item.name}}
		</div>
		<h2>PLANNER</h2>
		<h4>Organize and Plan Your Day</h4>
	</div>
	<div class="row">
		<div class="span5">
			<div>
				<div class="pad-bottom">
					<h4>Current Category: {{activeCategory.name}}</h4>
					<h5>Number of Categories: {{ numCategories }}</h5>
					<label>Select Category:</label>
					<select ng-model="activeCategory" ng-options="cat.name for cat in categories"></select>
				</div>
				<div class="pad-bottom"><button ng-click="switchExpand('catExpand')" class="btn btn-primary">Manage Categories</button></div>
				<div ng-show="catExpand">
					<div category></div>
				</div>
				<div class="pad-bottom"><button ng-click="switchExpand('toDoExpand')" class="btn btn-primary">Add To-Do</button></div>
				<div ng-show="toDoExpand">
					<div todo></div>
				</div>
			</div>
		</div>
		<div class="span7">
			<h4>To Do List </h4>
			<ul class="unstyled margin-right">
				<li class="pad-bottom" ng-repeat="item in activeCategory.list">
					<div class="row-fluid clearfix" ng-class="{completed: item.complete}">
						<div class="span7">
							<div class="checkbox">
								<input type="checkbox" ng-model="item.complete"/> {{item.name}}
							</div>
							<div ng-show="item.expanded">
								<div>Description: {{item.description}}</div>
								<div ng-class="{'priority-high': (item.priority === 1), 'priority-medium': (item.priority === 2), 'priority-low': (item.priority === 3)}">
									Priority: {{getPriority($index)}}
								</div>
							</div>
						</div>
						<div class="span5">
							<button ng-click="removeToDoItem($index)" class="btn btn-danger pull-right">
								<i class="glyphicon-minus"></i> Remove
							</button>
							<button ng-click="switchToDo($index)" class="btn btn-default pull-right">
								<i class="glyphicon-plus"></i> Show Details
							</button>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>