<div class="well container-fluid">
	<div class="page-header">
		<h2>PLANNER</h2>
		<small>Organize and Plan Your Day</small>
	</div>
	<div class="row-fluid">
		<div class="col-xs-3">
			<div>
				<div class="pad-bottom">
					<h5>Number of Categories: {{ categories.length }}</h5>
					<label>Select Category:</label>
					<select ng-model="activeCategory" ng-options="cat.name for cat in categories"></select>
				</div>
			</div>
		</div>
		<div class="col-xs-9">
			<div class="pad-bottom large-margin-top">
				<button ng-click="openCategoryModal()" class="btn btn-primary">Add Category</button>
				<button ng-click="openToDoModal()" class="btn btn-primary">Add To-Do</button>
			</div>
			<div class="panel" ng-class="{'panel-default' : activeCategory.name === null, 'panel-primary' : activeCategory.name !== null}">
				<div class="panel-heading">
					<h4>Current Category: {{activeCategory.name}}</h4>
				</div>
				<table class="table margin-right">
					<tr ng-repeat="item in activeCategory.list" ng-class="{completed: item.complete}">
						<td>
							<div class="checkbox">
								<input type="checkbox" ng-model="item.complete"/> {{item.name}}
							</div>
							<div ng-if="item.expanded">
								<div>Description: {{item.description}}</div>
								<div ng-class="{'priority-high': (item.priority === 1), 'priority-medium': (item.priority === 2), 'priority-low': (item.priority === 3)}">
									Priority: {{getPriority($index)}}
								</div>
								<div>
									<progress style="text-align:center;" class="progress-striped">
										<bar class="bar-success" value="item.progress">Progress:{{item.progress}}/100</bar>
									</progress>
									<input type="text" ng-model="item.progress" />
								</div>
							</div>
						</td>
						<td>
							<button ng-click="removeToDoItem($index)" class="btn btn-danger pull-right">
								<i class="glyphicon-minus"></i> Remove
							</button>
							<button ng-click="switchToDo($index)" class="btn btn-default pull-right">
								<i class="glyphicon-plus"></i> Show Details
							</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>