<div class="well container-fluid">
	<div class="row-fluid clearfix">
		<div class="col-xs-4">
			<div class="planner-header">
				<h2>PLANNER</h2>
				<small>Organize and Plan Your Day</small>
			</div>
		</div>
		<div class="col-xs-8 clearfix">
			<nav class="navbar navbar-default" role="navigation">
				<ul class="nav navbar-nav">
					<li ng-repeat="section in sections">
						<a ui-sref="{{section.link}}">{{section.name}}</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div ui-view></div>
</div>